/*Custom styles*/
.contact-glyphicons{
    font-size: x-large;
    color: #286090;
    margin: 10px;
}
.contact-first-row{
    margin-bottom: 50px;
}
.contact-glyphicon-title{
    font-weight: 600;
    color: #286090;
}
.contact-center-items{
    text-align: center;
}
.export-to-vcard-glyphicon{
    font-size: 50px;
    color: #f0ad4e;
}
.error-template {
    padding: 40px 15px;text-align: center;
}
.error-actions {
    margin-top:15px;margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}